# Lab 1 - Pandas Intro

In [2]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [3]:
movies_df.imdb_score.mean()

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [4]:
movies_df[movies_df.movie_title.str.contains('Star Wars')].movie_title.size

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [5]:
highest_imdb = movies_df[movies_df.imdb_score == movies_df.imdb_score.max()]
highest_imdb[['movie_title', 'imdb_score']]

           movie_title  imdb_score
2725  Towering Inferno         9.5

**3**. Which movie has the lowest IMDB Score? What is that score?

In [6]:
lowest_imdb = movies_df[movies_df.imdb_score == movies_df.imdb_score.min()]
lowest_imdb[['movie_title', 'imdb_score']]

                         movie_title  imdb_score
2789  Justin Bieber: Never Say Never         1.6

**4.** For each director, how many movies have they directed (from this dataset)?

In [7]:
directors = movies_df["director_name"]
directors.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [8]:
action_movies = movies_df[movies_df.genres.str.contains('Action')]
action_movies.duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [9]:
pg_13 = movies_df[movies_df.content_rating == 'PG-13']
pg_13_high = pg_13[pg_13.budget == pg_13.budget.max()]
pg_13_high.movie_title

2294    Princess Mononoke
Name: movie_title, dtype: object

**7.** How many movies were made in each year (title_year)?

In [10]:
years = movies_df["title_year"]
years.value_counts()

2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [11]:
fb_likes = movies_df.movie_facebook_likes > 10000
fb_likes.sum()

1022


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [12]:
th_movies = movies_df[(movies_df.actor_1_name == 'Tom Hanks') | (movies_df.actor_2_name == 'Tom Hanks') | (movies_df.actor_3_name == 'Tom Hanks')]
th_movies.movie_title.count()

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [13]:
faces = movies_df[movies_df.facenumber_in_poster < 2]
faces[['movie_title', 'num_voted_users']]

                                     movie_title  num_voted_users
0                                         Avatar           886204
1       Pirates of the Caribbean: At World's End           471220
2                                        Spectre           275868
3                          The Dark Knight Rises          1144337
4     Star Wars: Episode VII - The Force Awakens                8
...                                          ...              ...
4909                             The Mongol King               36
4910                                   Newlyweds             1338
4912                               The Following            73839
4913                        A Plague So Pleasant               38
4915                           My Date with Drew             4285

[3313 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [15]:
four_yrs = movies_df[(movies_df.title_year >= 2000) & (movies_df.title_year <= 2004)]
four_yrs.loc[:, ['director_name', 'director_facebook_likes']].sort_values('director_facebook_likes', ascending=False)

             director_name  director_facebook_likes
1057     Christopher Nolan                  22000.0
3646     Christopher Nolan                  22000.0
1034         David Fincher                  21000.0
2849     Denzel Washington                  18000.0
2023          Kevin Spacey                  18000.0
...                    ...                      ...
2081           Kevin Smith                      0.0
1935  Paul Thomas Anderson                      0.0
1896              John Eng                      0.0
1895       Cathy Malkasian                      0.0
31               Sam Raimi                      0.0

[932 rows x 2 columns]